In [12]:
import pandas as pd

In [13]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\envs\sakthi\lib\site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\anaconda3\envs\sakthi\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\envs\sakthi\lib\site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in c:\users\admin\anaconda3\envs\sakthi\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\envs\sakthi\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
import pandas as pd

In [15]:
a1=pd.Series(['one',2,3,4,5],index=[0,1,2,3,4])

In [16]:
print(a1)

0    one
1      2
2      3
3      4
4      5
dtype: object

In [21]:
import pandas as pd

In [41]:
a2=pd.Series(['snacks',2,3,4,5],index=[6,1,2,3,7])

In [42]:
print(a2)

6    snacks
1         2
2         3
3         4
7         5
dtype: object

In [56]:
import numpy as np

In [52]:
season={"rainy":{1:'nov',2:'dec',3:'jan',4:'feb'},"summer":{1:'mar',2:'apr',3:'may',4:'jun'}}

In [54]:
d=pd.DataFrame(season,columns=["rainy","summer"])

In [55]:
d

  rainy summer
1   nov    mar
2   dec    apr
3   jan    may
4   feb    jun

In [58]:
a=pd.DataFrame(np.random.randint(0,300,size=(20,5)),columns=list(('abcde')))

In [59]:
print(a
    )

      a    b    c    d    e
0   293  156   77   86  230
1   290  158  279    9  205
2   283   18  100  225    5
3    15  120  196  257  157
4    44  119  221  255  259
5    63  268   38  282  278
6    36  102   22  172  129
7    23  269  177  239  286
8   162  162  273  134   25
9   278  295  185  106  182
10  115  179  127   61  265
11   30   20  128  247  121
12    2  109  138  265   60
13  239  286   68   17   13
14   56  248  214  295  117
15  154  219   23  196  294
16  220  294    1  188   76
17  209  108   25   98  136
18  205  144  160  243  146
19  240  275  274  150  219

In [63]:
a.to_csv('C:/Users/ADMIN/Desktop/sakthi2.csv')

In [64]:
a

      a    b    c    d    e
0   293  156   77   86  230
1   290  158  279    9  205
2   283   18  100  225    5
3    15  120  196  257  157
4    44  119  221  255  259
5    63  268   38  282  278
6    36  102   22  172  129
7    23  269  177  239  286
8   162  162  273  134   25
9   278  295  185  106  182
10  115  179  127   61  265
11   30   20  128  247  121
12    2  109  138  265   60
13  239  286   68   17   13
14   56  248  214  295  117
15  154  219   23  196  294
16  220  294    1  188   76
17  209  108   25   98  136
18  205  144  160  243  146
19  240  275  274  150  219

In [76]:
a.drop("c",axis=1)

      a    b    d    e
0   293  156   86  230
1   290  158    9  205
2   283   18  225    5
3    15  120  257  157
4    44  119  255  259
5    63  268  282  278
6    36  102  172  129
7    23  269  239  286
8   162  162  134   25
9   278  295  106  182
10  115  179   61  265
11   30   20  247  121
12    2  109  265   60
13  239  286   17   13
14   56  248  295  117
15  154  219  196  294
16  220  294  188   76
17  209  108   98  136
18  205  144  243  146
19  240  275  150  219

In [77]:
d.shape

(4, 2)

In [80]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 1 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rainy   4 non-null      object
 1   summer  4 non-null      object
dtypes: object(2)
memory usage: 96.0+ bytes