In [16]:
sk={1:"book",2:"customer=35",3:45}

3

In [18]:
type(sk)

dict

In [19]:
sk[1]

'book'

In [23]:

sk[2
]

'customer=35'

In [21]:
sk2={"ben10","doremon","shinchan",20,30,40}

In [24]:

type(sk2)
']'

set

In [6]:
timenow=input("enter time")
    notification=(1:"this is morning",2:)

IndentationError: unexpected indent (4034289854.py, line 2)

In [ ]:
timenow=input("enter time")

In [11]:
fare_per_km=2
for dist in range(1,26):
    if dist>2:
        total_fare=dist*2
        print(f"your total fare for{dist}km is {total_fare}")
        
    else:
            print(f"ypur total fare for 1 km is 2")

ypur total fare for 1 km is 2
ypur total fare for 1 km is 2
your total fare for3km is 6
your total fare for4km is 8
your total fare for5km is 10
your total fare for6km is 12
your total fare for7km is 14
your total fare for8km is 16
your total fare for9km is 18
your total fare for10km is 20
your total fare for11km is 22
your total fare for12km is 24
your total fare for13km is 26
your total fare for14km is 28
your total fare for15km is 30
your total fare for16km is 32
your total fare for17km is 34
your total fare for18km is 36
your total fare for19km is 38
your total fare for20km is 40
your total fare for21km is 42
your total fare for22km is 44
your total fare for23km is 46
your total fare for24km is 48
your total fare for25km is 50

In [ ]:
fare_per_km=2
for dist in range(1,26):
    if dist>2:
        total_fare=dist*2
        print(f"your total fare for{dist}km is{total_fare}")
        
    else:
            print(f"ypur total fare for 1 km is 2")

In [13]:
fare_per_ticket=150
for person in range(5,66):
    if person>61:
        total_fare=ticket*150
        print(f"your total fare for{person}ticket is{total_fare}")
              
    else:
              print(f"your total fare for 1 person is 150")

your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150
your total fare for 1 person is 150

NameError: name 'ticket' is not defined

In [3]:
counter=2
TCS=52
while seating

SyntaxError: expected ':' (216663083.py, line 3)

In [4]:
limit=int(input("enter limit"))
count=0
a=0
b=1 
while count<=limit:
    print(a)
    
    print(b)
    c=a+b
    print(c)
    count+=1
    a=b
    b=c

enter limit10
0
1
1
1
1
2
1
2
3
2
3
5
3
5
8
5
8
13
8
13
21
13
21
34
21
34
55
34
55
89
55
89
144