In [9]:
from sklearn.impute import SimpleImputer

In [10]:
import pandas as pd

In [17]:
Salary_details=pd.DataFrame({'salary':[1000,500,15000,2000],'cat':['low','low','high','mid']})

In [18]:
Salary_details

   salary   cat
0    1000   low
1     500   low
2   15000  high
3    2000   mid

In [19]:
import warnings

In [ ]:
warnin